<form (submit)="login()" class="login-form" [formGroup]="loginForm">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input type="text" matInput placeholder="Username" formControlName="username">
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>password</mat-label>
    <input type="password" matInput placeholder="password" formControlName="password">
    <mat-icon matSuffix>key</mat-icon>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
</form>
<div class="success" *ngIf="success">
  You have successfully signed in!
</div>
<div class="error" *ngIf="success===false">
  Either username or password is incorrect!
</div>