:host {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.success,
.error {
    margin-top: 16px;
    border: 1px solid;
    padding: 16px;
    border-radius: 8px;
    font-weight: 600;
}

.success {
    color: green;
    border-color: green;
}

.error {
    color: red;
    border-color: red;
}